name: Test Suite

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        name: Test for build Errors
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: yarn ci
            - run: yarn build

    lint_check:
        name: Check for linting and formatting issues
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: yarn ci
            - run: yarn lint
            - run: yarn formatcheck
    test:
        name: Run tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: mkdir .keys
            - run: echo $PUBKEY > .keys/public.key
            - run: echo $PRIVKEY > .keys/private.key
            - run: yarn ci
            - run: yarn build
            - run: yarn test
              env:
                  BASE_URL: ${{secrets.BASE_URL}}
                  MERCHANT_NUMBER: ${{secrets.MERCHANT_NUMBER}}
                  MERCHANT_ID: ${{secrets.MERCHANT_ID}}
                  PUBKEY: ${{secrets.PUBKEY}}
                  PRIVKEY: ${{secrets.PRIVKEY}}

